@page "/"

@using Sol_Components.Pages.Demo

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container">
    <div class="row">
        <div class="col-12">
            <DemoComponent Message="I love Blazor"></DemoComponent>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Sol_Components.Pages.ParentChild.ParentComponent></Sol_Components.Pages.ParentChild.ParentComponent>
        </div>
    </div>
</div>
